#folder logs
logs/

#txt-files
docs/*.txt

# моя инструкция
instructionGit.txt






# #комментарий — эта строка игнорируется
# /  - указания каталога(folder)
# !  - в качестве первого символа -- инвертировать шаблон
# 

# Glob шаблоны
# *   - 0 или более символов
# ?  - соответствует одному символу
# [abc]  - любому символу из указанных в скобках 
# [0-9]  - соответствует любому символу из интервала
##
#

# не обрабатывать файлы, имя которых заканчивается на .a
#  *.a
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#  !lib.a
# игнорировать только файл TODO находящийся в корневом каталоге, не относится к файлам вида subdir/TODO
#  /TODO
# игнорировать все файлы в каталоге build/
#  build/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
#  doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
#  doc/**/*.txt